.body{
    display: flex;
    width:100%;
    height: 100%;
    flex-direction: column;
    background-color: rgba(7,8,31,255);
}

.photo{
    margin-left: 1.8rem;
    width: auto;
    height: 60%;
    margin-top: 5rem;
}

.secondContainer{
    margin: 10px 10px 10px 10px;
    width: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.heading1{
    margin-bottom: 10%;
    height: auto;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 200%;
}

.heading2{
        width: auto;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        margin-bottom: 10%;
        height: auto;
        text-align: center;
        line-height: 172%;
        margin: 16px 20px 106px 16px;
    
}

.buttonPage{
    display: flex;
    width: 250px;
    flex-direction: column;
    height: 150px;
    align-items: center;
    margin-left: 3.3rem;
}
  .haveAccount:hover {
    letter-spacing: 1px;
    background-color: rgba(66,92,215,255);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(234, 243, 210) 0px 7px 29px 0px;
  }
  
  .haveAccount:active {
    letter-spacing: 1px;
    background-color:rgba(66,92,215,255);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(237, 248, 235) 0px 0px 0px 0px;
  }
.haveAccount{
    height:3rem;
    border-radius: 50px;
  cursor: pointer;
  border: 0;
    font-size: 1.3rem;
    margin-left: 3.5rem;
    margin-top: 1rem;
    width: 17rem;
    
}


